html {
    height: 100%;
    width: 100%;
}
body {
  background-color: #29708d;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
 .dock {
    width: 90%;
    height: 15%;
    display: flex;
    padding: 2% 0 4% 0;
}
.icon {
    padding: 1.5%;
    height: 97%;
    display: flex;
    align-items: center;
}
.icon img {
    width: 100%;
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.16), 0px 5px 8px 0px rgba(0,0,0,0.23)
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    background: #f3f3e7;
}
.main {
    display: flex;
    flex-direction: flex-row;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 47.5%;
    max-width: 100vh;
    background: #f3f3e7;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16), 0px 2px 5px 0px rgba(0,0,0,0.23);
}
.column {
    width: 31.33%;
    min-width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
}
.colorpanel {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60%;
    background: #e2e2ce;
    z-index: -2;
}
.personal {
    position: fixed;
    right: 50px;
    bottom: 50px;
    background: #ea4a57;
    height: 100px;
    width: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    z-index: 2;
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.16), 0px 5px 8px 0px rgba(0,0,0,0.23);
}
@media screen and (max-aspect-ratio: 1/1) {
    .personal {
        display: none;
    }
}
h1 {
    font-size: 3.5vh;
    line-height: 4vh;
    color: #ea4a57;
    margin: 0;
}
ul {
    padding-left: 0;
}
ul li{
    list-style: none;
}
ul li a{
    font-size: 2vh;
    line-height: 3.8vh;
    text-decoration: none;
    color: #0b232d;
}

a:hover, a:active, a:focus {
  outline: none; }
iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
